h/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
	html,
body {
	height: 100%;
}

body {
	text-align: center;
	background-image: url("../images/Art-room-triva-game.gif");
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

#startBtn {
	margin-top: 300px;
	margin-left: 320px;
}

.answer-button:hover,
.reset:hover {
	background-color: #202364;
}

.answer-button:hover {
	background-color: #202364;
	color: white;
}

.answer-button {
	background-color: #202364;
	color: white;
	display: block;
	text-align: center;
	position: relative;
	left: 100px;
}

#quiz-area {
	position: absolute;
	left: 540px;
	top: 220px;
	text-align: center;
}

.flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 600px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#questionSec {
	text-align: center;
	line-height: 21px;
	font-size: 17px;
	margin-top: auto;
}

#imageSec {
	width: 400px;
	height: 400px;
}

img {
	position: absolute;
	left: 400px;
	top: 20px;
	text-align: center;
	z-index: -99;
}

h3 {
	font-size: 17px;
	width: 320px;
	padding: 15px;
	z-index: 1;
}

h2 {
	font-size: 20px;
	width: 320px;
	padding: 15px;
	z-index: 1;
}

#timeLeft {
	margin-top: 355px;
	text-align: center;
	width: 25%;
	padding-right: 215px;
}

#currentQuestion {
	text-align: center;
	font-size: 15px;
	padding-top: 325px;
	padding-bottom: 0px;
}
